<div class="center">
  <div class="col-sm-6">
    <div class="card">
      <% if @article.user %>
      <div class="card-header">
          <div class="card">
            <div class="card-header">
              Created By
            </div>
            <%= link_to(gravatar_for(@article.user), user_path(@article.user)) if @article.user %>
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to(@article.user.username, user_path(@article.user)) if @article.user %>
              </h5>
              <p class="card-text"><%= @article.user.email %></p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link"><small><%= pluralize(@article.user.articles.count, "articles") if @article.user.articles %></small></a>
            </div>
          </div>
      </div>
        <% end %>
      <div class="card-body">
        <h5 class="card-title border-bottom"> <%= @article.title %></h5>
        <p class="card-text"><%= @article.description %></p>
        <% if @article.categories.any? %>
          <p>
            Categories: <%= render @article.categories %>
          </p>
        <% end %>
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
          <%= link_to "Edit This Article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
          <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
      <% end %>
        <%= link_to "Back to articles listing", articles_path, class:"btn btn-sm btn-info" %>
      </div>
    </div>
  </div>
</div>


