<h1 align="center"> Welcome to <%= @user.username %>'s page</h1>

<div class="center">

    <%= gravatar_for @user, size: 150 %>

</div>

<h4 align="center"><%= @user.username %>'s articles'</h4>
<div class="d-flex justify-content-center">
  <%= will_paginate @user_articles, renderer: BootstrapPagination::Rails %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div class="d-flex justify-content-center">
  <%= will_paginate @user_articles, renderer: BootstrapPagination::Rails %>
</div>